<br><br>
<h1>Not Assigned.... @@ Home page Design</h1>
<br>
<button class="btn btn-success" style="width:15%;margin-left: 7%;" (click)="signupPage()">Proceed to Signup page</button>
<button class="btn btn-success" style="width:15%;margin-left: 7%;" (click)="loginPage()">Proceed to logIn page</button>
<button class="btn btn-success" style="width:15%;margin-left: 7%;" (click)="admin()">Proceed to Admin Dahhboard</button>
<button class="btn btn-success" style="width:15%;margin-left: 7%;" (click)="user()">Proceed to user DashBoard</button>
