<div style="background-image: url('../../assets/Images/l2.jpg'); background-size:cover; height: 1000px; ">
    <div class="box" style=" filter: alpha(opacity = 50);">
        <br><br>
        <br>        
        <div style="text-align: left;">
        <h1 class="display-5" style="font-size: 50px;">Online Test Management System</h1>
        <p class="lead" style="font-size: 35px;">Welcome </p>
        <p style="font-size:30px;">Online Test Management System is a web platform</p>
        <p style="font-size:30px;">which allows registered users to attempt tests with</p>
        <p style="font-size:30px;">questions from various fields such as</p>
        <p style="font-size:30px;">Angular, Java and Spring so on..</p>
        <hr class="my-4" style="color: black;">
        <p style="font-size:40px;">To attempt, register or get results for a test,<br> Please SignUp or Login</p>
        <pre><button style="background-color: transparent; font-size: 20px;" (click)="signupPage()"><b>Proceed to Signup page</b></button>          <button style="background-color: transparent; font-size: 20px;" (click)="loginPage()"><b>Proceed to logIn page</b></button></pre>
    </div>
    </div>
</div>
